.pager {
  height: 400px;
  width: 100%;
  position: relative;
}

.pager .circle {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #FF1FA9;
  border-radius: 100px;
}

.circle-one {
  left: 125px;
}

.circle-two {
  right: 125px;
}

.pager .fa {
  position: absolute;
  color: #4EDFFF;
  top: 12px;
  left: 12px;
  font-size: 22px;
}
